<h4 class="card-title">Action Log</h4>
{% if not action_log %}<p>It's time to log your first actions!</p>{% endif %}
<ul class="list-group mb-4 action-log-list">
    {% if action_log %}
    {% for action_recorded in action_log %}
        <li class="list-group-item">
            <p>
                <span class="badge badge-pill badge-{{ action_recorded.get_action_status_class }}">{{ action_recorded.get_action_status_display }}</span>
                {{ action_recorded.status_logged }} <a href="#" data-toggle="modal" data-target="#deleteActionLogModal"><i class="fas fa-times-circle text-danger"></i></a>
            </p>
            <a href="{% url 'goals:manage_action' goal_pk=goal.pk action_pk=action_recorded.action.pk %}">{{ action_recorded.action }}</a>
        </li>
        <!-- Delete Action Log Modal -->
        <div class="modal fade" id="deleteActionLogModal" tabindex="-1" role="dialog" aria-labelledby="deleteActionLogModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove Entry From Action Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    Are you sure you want to remove this entry from your your action log?
              </div>
              <div class="modal-footer">
                <form method="post" action="{% url 'goals:delete_action_log' goal_pk=goal.pk action_log_pk=action_recorded.pk %}">{% csrf_token %}
                <button type="button" id="close-modal-button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Remove Entry From Action Log</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    <li class="list-group-item"><a href="{% url 'goals:action_log_list' goal_pk=goal.id %}">View all actions &raquo;</a></li>
    {% endif %}
</ul>



