{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="mb-4 d-flex justify-content-between align-items-center">
    <h3>{% if category %}{{ category }}{% else %}All{% endif %} goals</h3>
    <a class="btn btn-primary" href="{% url 'goals:new_goal' %}" role="button">Set a new goal</a>
</div>

<div id="goal-list-filters" class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-md-0">
    <ul class="nav nav-tabs my-md-0 mr-md-auto" id="pills-tab" role="tablist">
        {% if tracked_goals %}
        <li class="nav-item">
            <a class="nav-link active small-pill" id="pills-current-tab" data-toggle="pill" href="#pills-current" role="tab" aria-controls="pills-current" aria-selected="true">Current</a>
        </li>
        {% endif %}
        {% if achieved_goals %}
        <li class="nav-item">
            <a class="nav-link small-pill" id="pills-achieved-tab" data-toggle="pill" href="#pills-achieved" role="tab" aria-controls="pills-acheived" aria-selected="false">Achieved</a>
        </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav d-none d-sm-block">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pt-0 text-dark" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="categoryDropdown">
          <a class="dropdown-item" href="{% url 'goals:goal_list' %}">All</a>
          {% if categories %}
          {% for goal_category in categories %}
          <a class="dropdown-item" href="{% url 'goals:category' goal_category.id %}">{{ goal_category }}</a>
          {% endfor %}
          {% endif %}
        </div>
      </li>
    </ul>
</div>
<hr>
<div class="card">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-current" role="tabpanel" aria-labelledby="pills-current-tab">
            <ul class="list-group list-group-flush">
            {% if tracked_goals %}
            {% for goal in tracked_goals %}
                {% include 'goals/_goal.html' with goal=goal %}
            {% endfor %}
            {% endif %}
            {% if untracked_goals %}
            {% for goal in untracked_goals %}
                {% include 'goals/_goal.html' with goal=goal %}
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="pills-achieved" role="tabpanel" aria-labelledby="pills-achieved-tab">
          <ul class="list-group list-group-flush">
            {% if achieved_goals %}
            {% for goal in achieved_goals %}
                {% include 'goals/_goal.html' with goal=goal %}
            {% endfor %}
            {% endif %}
          </ul>
        </div>
    </div>
</div>
{% endblock %}

