{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="mb-4 d-flex justify-content-between align-items-center">
    <h3>Progress journal</h3>
    <a class="btn btn-info" href="#" data-toggle="modal" data-target="#newEntryModal" role="button">New entry</a>
</div>
<!-- Journal entry modal -->
<div class="modal fade" id="newEntryModal" tabindex="-1" role="dialog" aria-labelledby="newEntryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="entryModalLabel">Progress Journal for {% now 'M d\, Y' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="card-title pt-2">Journal Entry</h3>
        <form method="post" action="{% url 'journal:new_entry' %}">{% csrf_token %}
            {% bootstrap_field entry_form.goal %}
            {% bootstrap_field entry_form.progress show_label=False %}
            <button type="submit" class="btn btn-primary btn-sm">Save Journal Entry</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header d-flex justify-content-between">
      <h3 class="card-title">All entries</h3>
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="goalDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Goal
            </a>
            <div class="dropdown-menu" aria-labelledby="goalDropdown">
              <a class="dropdown-item" href="{% url 'journal:goal_journal' %}">All</a>
              {% if goals %}
              {% for goal in goals %}
                  {% if goal.entry_set.count %}
                    <a class="dropdown-item" href="{% url 'journal:goal_filter' goal.id %}">{{ goal }}</a>
                  {% endif %}
              {% endfor %}
              {% endif %}
            </div>
          </li>
        </ul>
      </div>

    <ul class="list-group list-group-flush">
    {% if entries %}
    {% for entry in entries %}
        <li class="list-group-item">
        <a href="{% url 'goals:goal_detail' entry.goal.id %}"><h4>{{ entry.goal }}</h4></a>
        <h5 class="card-title pt-2">{{ entry.date_of_entry }} <a href="{% url 'journal:edit_entry' entry_pk=entry.pk %}"><i class="far fa-edit"></i></a></h5>
        {{ entry.progress|linebreaks }}
        </li>
    {% endfor %}
    {% else %}
        <li class="list-group-item">Create your first journal.</li>
    {% endif %}
    </ul>
    <div class="card-footer">
        <nav aria-label="Page navigation">
            <ul class="pagination d-flex justify-content-between mx-3">
                <li class="page-item">
                    {% if entries.has_previous %}
                    <a class="page-link" href="?page={{ entries.previous_page_number }}">
                        <span aria-hidden="true">Newer entries &laquo;</span>
                    </a>
                    {% endif %}
                </li>
                {% if entries.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ entries.next_page_number }}">
                    <span aria-hidden="true">Older entries &raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock content %}
