{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h3>Goal Journal</h3>
<hr>
<div class="card">
    <ul class="list-group list-group-flush">
    {% if entries %}
    {% for entry in entries %}
        <li class="list-group-item">
        <a href="{% url 'goals:goal_detail' entry.goal.id %}"><h4>{{ entry.goal }}</h4></a>
        <h5 class="text-muted pt-2">{{ entry.date_of_entry }} <a href="{% url 'journal:edit_entry' entry_pk=entry.pk %}"><i class="far fa-edit"></i></a></h5>
        {{ entry.progress|linebreaks }}
        </li>
    {% endfor %}
    {% else %}
        <li class="list-group-item">Return to your <a href="{% url 'goals:goal_list' %}">goal list</a> and select a goal to create your first entry in your goal journal</li>
    {% endif %}
    </ul>
    {% if entries.count > 10 %}
    <div class="card-footer">
        <nav aria-label="Page navigation">
            <ul class="pagination d-flex justify-content-between mx-3">
                <li class="page-item">
                    {% if entries.has_previous %}
                    <a class="page-link" href="?page={{ entries.previous_page_number }}">
                        <span aria-hidden="true">Newer entries &laquo;</span>
                    </a>
                    {% endif %}
                </li>
                {% if entries.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ entries.next_page_number }}">
                    <span aria-hidden="true">Older entries &raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>
{% endblock content %}
